name: Code Check
on:
  workflow_call:

concurrency:
  group: ${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: ESLint, TypeScript, Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Download deps
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint:strict

      - name: Type check
        run: pnpm run typecheck

      - name: Prettier check
        run: pnpm run prettier:format
