name: Vercel Production Deployment
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  Lint:
    uses: ./.github/workflows/lint.yml
  Deploy-prod:
    runs-on: ubuntu-latest
    needs: Lint
    environment: Production
    # Run actions action if actor is not andrijunaedi or aldycavalera
    if: ${{ (github.actor != 'andrijunaedi') && (github.actor != 'aldycavalera') }}
    steps:
      - name: Trigger CURL Hook
        run: |
          curl -X POST -d {} ${{ vars.VERCEL_DEPLOY_HOOK }}
          echo " Wait a minute until the vercel deployment is done.."
